*{
    z-index: 100;
}
/*now that I made this animation keyframe, 
    i can now have an element use the keyframe*/
@keyframes MINTSOUP_LOGO_rotate {
   0% {
        width: 80px;
        transform: rotate3d(0, 10deg);
        /* transform: scale(0, .025); */
    }
    50% {
        width: 50px;
        transform: rotate3d(1, 2, 1, 3600deg);
        /* transform: scale(1, .025); */
    }
}

@keyframes MINTSOUP_LOGO_scale {
    0% {
         transform: scale(0, 1);
     }
     20% {
         transform: scale(1, .8);
     }

     40% {
        transform: scale(2, .7);
    }

    90% {
        transform: rotate3d(12, 2, 11, 170deg);
    }

    100% {
        transform: rotate3d(0, 0,20, 0deg);
    }


 }
@media (prefers-reduced-motion: no-preference) {
    #MINTSOUP_LOGO{
        animation-name: MINTSOUP_LOGO_scale;
        animation-duration: 4s;
        animation-iteration-count: 1;
    }
}

@media screen and (min-width: 576px) {
    .NAVBAR{
        width: 100%;
        background-color: azure;
        display: block;
        position: sticky;
        flex-wrap: wrap;
        top: 0;
        left: 0;
        right: 0;
    }
    .NAVBAR>div{
        display: flex;
        justify-content: center;
        position: relative;

    }
    #navlinks {
        display: block flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .link{
        display: block;
    }
    .link>button{
        background-color: black;
        border-radius: 10px 10px 30px 30px;
        margin: 5px;
        color: aliceblue;
        /* margin: 0; */
        padding: 5px 5px 5px 5px;
        display: flex;
        justify-content: space-between 5px;
    }
    #navbar_sandwich{
        display: block;
    }
    #MINTSOUP_LOGO
    {
        width: 80px;
        /* position:sticky; */
        display:block;

        left: 50%;
        bottom: auto;
        top: 0%;
        right: 50%;
        /* display: flex;
        justify-self: center;
        align-self: center; */

    }
}
 @media screen and (max-width: 575px) {
    .NAVBAR{
        width: 100%;
        background-color: azure;
        display: block;
        position: sticky;
        flex-wrap: wrap;
        top: 0;
        left: 0;
        right: 0;
    }
    .NAVBAR>div{
        display: flex;
        justify-content: center;
        position: relative;

    }
    #navlinks {
        display: block flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .link{
        display: block;
    }
    .link>button{
        background-color: black;
        border-radius: 10px 10px 30px 30px;
        margin: 5px;
        color: aliceblue;
        /* margin: 0; */
        padding: 5px 5px 5px 5px;
        display: flex;
        justify-content: space-between 5px;
    }
    #navbar_sandwich{
        display: block;
    }
    #MINTSOUP_LOGO
    {
        width: 80px;
        /* position:sticky; */
        display:block;

        left: 50%;
        bottom: auto;
        top: 0%;
        right: 50%;
        /* display: flex;
        justify-self: center;
        align-self: center; */

    }
}