

 @media screen and (max-width: 575px) {
    /* .topbar {
        display: flex;
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        width: 100%;
    } */
    /* .topbar.mid{
        display: table-cell;
        vertical-align:middle;
    } */
    .mid > img {

    }
    .mid > p {
        
    }
    .mid > app-nav {
        
    }
}