/* @import url("./menu.scss"); */

h2{
    text-align: center;
}
div{
background-color: aliceblue;
width: 100%;
height: 100%;
display: block ;
justify-content: center;
align-items: center;
}
/* @media screen and (min-width: 576px) { */
    app-nav{
        position:fixed;
        /* bottom: 0; */
        left:0;
        right: 0;
        top:0 ;
        overflow: hidden;
    }
    app-footer{
        position:fixed;
        left:0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    router-outlet{
        position:fixed;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        bottom: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
/* } */

/* 
@media screen and (max-width: 575px) {
    app-nav{
        position:fixed;
        bottom: 0;
        left:0;
        right: 0;
    }
    app-footer{
        position:fixed;
        bottom: 0;
        left:0;
        right: 0;
        overflow: hidden;
    }
    router-outlet{
        position:fixed;
        top: 0;
        left:0;
        right: 0;
    }
} */


