/* *{
    margin: 0;
    padding: 0;
} */

body{
    margin: 0;
    padding: 0;
}
.MAIN_BODY{
    width: auto;
    background-color: goldenrod;
    height: 100vh;
    /* overflow:scroll; */
}
app-root{
    background-color: black;
    /* height: 100vh; */
}
button{
    box-shadow: 2% 2% 5% rgb(244, 208, 79);  
}

